.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAA7E; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'ethnocentric';
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

#button {
  margin-top: 20px;
  text-align: center;
  color:aquamarine;
}


h1{
    font-family: 'ethnocentric', sans-serif;
    color:#4CAA7E;
}

#lyrics-display {
  font-family: monospace;
  font-size: 18px;
  white-space: pre-wrap;
  outline: none; /* remove default focus outline */
  cursor: text;
  user-select: none;
  min-height: 6em;
  color:white;
}

#lyrics-display span {
  opacity: 0.3;
  transition: opacity 0.3s ease, color 0.3s ease;
  user-select: none;
}

#lyrics-display span.correct {
  color: #4caf50;
  opacity: 1;
}

#lyrics-display span.incorrect {
  color: #f44336;
  opacity: 1;
}

#lyrics-display:focus {
  outline: 2px solid #2196f3;
}
